* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    align-items: baseline;
    align-items: center;
}

.box {
    width: 10rem;
    height: 10rem;
}

.box1 {
    background-color: brown;
}

.box2 {
    background-color: aqua;
}

.box3 {
    background-color: blueviolet;
}

.box4 {
    background-color: chocolate;
}

.box5 {
    background-color: cornflowerblue;
}

.box6 {
    background-color: blue;
}

